.pad15 {
  padding: 15px; }

.btn-haipass {
  padding: 20px 45px;
  background: #4bcaff;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  border: 0;
  box-shadow: inset 0 -5px 1px rgba(0, 0, 0, 0.3); }

.first-section {
  padding: 10px; }

.first-section__title {
  font-size: 3.7em;
  color: white; }
